.vscode/
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates
bin/
obj/
[Bb]uild/
[Ll]ogs/
*.log
out/
artifacts/
publish/
*.dll
*.exe
*.pdb
*.mdb
wwwroot/
appsettings.*.json
appsettings.Development.json
*.nupkg
*.snupkg
*.nuget/
project.lock.json
project.fragment.lock.json
bower_components/
node_modules/
libman/
*.pidb
*.userprefs
.idea/
*.sln.iml
*.mdf
*.ldf
*.ndf
[Tt]est[Rr]esult*/ 
TestResults/
*.dotCover
*.coverlet.*
coverage/
_reSharper/
*.sln.cache
*.sln.ide
ResharperHost/
.DS_Store
Thumbs.db
